.dark-theme {
    --color-background-main: #1d1d1f;
    --color-text-main: #ededed;
    --color-background-elements-main: #29292a;
    --background-custom-color: #1d1d1f;
    --font-color-foot-meta: #ededed;
    --color-borders: #343435;
    --font-color-footer-secondary: #f1f0f0;
}