:root {
    --color-black: #1d1d1f;

    --color-gray: #f1f1f2;

    --color-white: #fff;

    --color-dark-mode: #fdfdfd;

    --primary-color: #4886ff;

    --primary-fonts: "Plus Jakarta Sans", sans-serif;
    --secondary-fonts: "DM Sans", sans-serif;
}