:root {
    --color-gray: #f1f1f2;


    --color-dark-mode: #fdfdfd;

    --color-button: #4886ff;

    --color-background-main: #fff;
    --color-text-main: #1d1d1f;

    --color-background-elements-main: #f1f1f2;

    --primary-fonts: "Plus Jakarta Sans", sans-serif;
    --secondary-fonts: "DM Sans", sans-serif;
}