body {
    font-family: var(--primary-fonts);
    background-color: var(--color-background-main);
    color: var(--color-text-main);
}

a {
    display: block;
    text-decoration: none;
    color: var(--color-text-main);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

ul {
    list-style: none;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.wrapper {
    max-width: 1476px;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 1584px;
    padding: 0 40px;
    width: 100%;
}